

.aaa{
    font-size: 50px;
    margin-left: 50px;
    background-color: white;
}

.title_itiran{
    margin:50px 150px 10px;font-size:30px;font-weight: bold;
}

.background_img{
    background-image: url(bg-body.jpg);
}