@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

.aaa{
    font-size: 50px;
    margin-left: 50px;
    background-color: white;
}

.title_itiran{
    margin:50px 150px 10px;font-size:30px;font-weight: bold;
}

.nav_img{
    background-color: #d9d4cb;
}

.background_img{
    /*background-image: url(bg-body.jpg);*/
    background-color:#d9d4cb ;
}


.heading{
    margin-top: 30px;
    margin-left: 30px;
}

.font_dec{
    font-size: 16px;
    color: #8c7851;
    font-weight: bold;
    
    
}

.font_dec:hover{
    transition: all 1s;
    transform: scale(1.1,1.1);
    text-decoration:none;
    color: #716040;
}

.button1{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    max-width: 240px;
    padding: 10px 25px;
    color: #543618;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #eeee;
    border-radius: 50px;
    border: 0.2rem solid #543618;
    box-shadow: 0.2rem 0.2rem 0px 0.1rem #cccccc;
}
.button1:hover {
	transform: translate3d(0.2rem, 0.2rem, 0);
  box-shadow: none;
  opacity: 1;
  transition: all 0.2s;
}
.button1:after{
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #543618;
    border-right: 3px solid #543618;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}

.button2{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    max-width: 150px;
    padding: 10px 25px;
    color: #543618;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #eeee;
    border-radius: 50px;
    border: 0.2rem solid #543618;
    box-shadow: 0.2rem 0.2rem 0px 0.1rem #cccccc;
}
.button2:hover {
	transform: translate3d(0.2rem, 0.2rem, 0);
  box-shadow: none;
  opacity: 1;
  transition: all 0.2s;
}
.button2:after{
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #543618;
    border-right: 3px solid #543618;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}

.button3{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    max-width: 90px;
    padding: 10px 5px;
    color: #543618;
    transition: 0.3s ease-in-out;
    font-weight: 400;
    background: #eeee;
    border-radius: 30px;
    border: 0.2rem solid #543618;
    box-shadow: 0.2rem 0.2rem 0px 0.1rem #cccccc;
}
.button3:hover {
	transform: translate3d(0.2rem, 0.2rem, 0);
  box-shadow: none;
  opacity: 1;
  transition: all 0.2s;
}
.button3:after{
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #543618;
    border-right: 3px solid #543618;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}

.button4{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    max-width: 240px;
    padding: 10px 25px;
    color: green;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #eeee;
    border-radius: 50px;
    border: 0.2rem solid green;
    box-shadow: 0.2rem 0.2rem 0px 0.1rem #cccccc;
}

.button5{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    max-width: 240px;
    padding: 10px 25px;
    color: red;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #eeee;
    border-radius: 50px;
    border: 0.2rem solid red;
    box-shadow: 0.2rem 0.2rem 0px 0.1rem #cccccc;
}


.index_box{
    display: inline-block;
    background-color: #fdfbf8;
    padding: 20px 40px;
    border: solid #716040;
    border-radius: 10px;
    box-sizing: border-box;
    margin:30px 30px 30px 100px;
    cursor: pointer;
cursor: hand;

}
.index_box:hover {
    transition: .4s;
    opacity: .6;
}

.hozon{
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    cursor: hand;
}

.logo_an{
    border-radius: 50%;
}


.logo_an:hover{
    transition: all 1s;
    transform: scale(1.2,1.2);
    

}